/*
================ table Of content =================
---------------------------------------------------
00 common css
01 navbar
02 header
03 about
04 experience
05 offer
06 review
07 article
08 sponsor
09 footer
---------------------------------------------------
*/



/*
===================================================
================ 00 common css start =================
===================================================
*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span {
    margin: 0;
    padding: 0;
}

/*
================================================
================ common css end ================
================================================
*/










/*
================================================
================ 01 navbar start ===============
================================================
*/
#navbar {
    height: 80px;
    background: #fff;
}

#navbar .navbar-brand {
    height: 80px;
}

#navbar .navbar-nav .nav-item .nav-link {
    color: #202020;
    padding-right: 15px;
    
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

#navbar .navbar-nav .nav-item.active .nav-link,
#navbar .navbar-nav .nav-item .nav-link:hover {
    color: #1b8d46;
}

#navbar .navbar-nav .nav-item a.nav_btn {
    color: #fff;
    background: #1b8d46;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

#navbar .navbar-nav .nav-item a.nav_btn:hover {
    background: #1b8d46bf;
}

/*
================================================
================ navbar end ====================
================================================
*/










/*
================================================
================ 02 header start ===============
================================================
*/
#header {
    background: #1b8d46;
    padding: 10px 0;
}

#header .body h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

/*
================================================
================ header end ====================
================================================
*/










/*
================================================
================ 03 about start ================
================================================
*/
#about {
    padding: 100px 0;
    background: url(../images/about-bg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#about::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1c2a42bf;
    z-index: -1;
}

/*
================================================
================ about end =====================
================================================
*/










/*
================================================
================ 04 experience start ===========
================================================
*/
#experience {
    padding: 100px 0;
    background: #f7f7f7;
}


/*
================================================
================ experience end ================
================================================
*/










/*
================================================
================ 05 offer start ================
================================================
*/
#offer {
    padding: 100px 0;
    background: #fff;
}

/*
================================================
================ offer end =====================
================================================
*/










/*
================================================
================ 06 review start ===============
================================================
*/
#review {
    padding: 100px 0;
    background: #f7f7f7;
}

/*
================================================
================ review end ====================
================================================
*/










/*
================================================
================ 07 article start ==============
================================================
*/
#article {
    padding: 100px 0;
}

/*
================================================
================ article end ===================
================================================
*/










/*
================================================
================ 08 sponsor start ==============
================================================
*/
#sponsor {
    padding: 100px 0;
    background: #f7f7f7;
}


/*
================================================
================ sponsor end ===================
================================================
*/










/*
================================================
================ 09 footer start ===============
================================================
*/
#footer {
    background: #28344c;
    padding: 30px 0;
}

#footer .copyright {
    text-align: center;
    color: #fff;
    line-height: 80px;
}

#footer .social_icon i {
    color: #fff;
    padding: 0 20px;
}

/*
================================================
================ footer end ====================
================================================
*/